.arrow {
    position: relative;
    padding: clamp(1rem, 0.398rem + 3.01vw, 3.125rem) 0;
    &__title {
        margin-bottom: 30px;
        text-align: center;
    }
}

.row {
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 7px;
}

.btn-exemlpe1-acord {
    padding: 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s;
    border-radius: 10px;
}

.btn-exemlpe1 {
    padding: 10px 0;
    background-color:  #3D5A80;
    border-radius: 10px;
    display: block;
    width: 100%;
    border: none;
    color: aliceblue;
    
    &:hover {
        opacity: .7;
        color: black;
    }
}

.dark .btn-exemlpe1 {
    background-color: #d4735b;
    // background-color: #ee6c4d;
}

.acord-open {
    background-color: rgb(4, 135, 135);
}

.dark .acord-open {
    background-color: rgb(205, 115, 5);
}

.acord-open+.btn-exemlpe1-acord {
    max-height: 1500px;
    transition: max-height 0.5s;
}